.top-background {
    background-color: #a1bd57;
    width: 100%;
    height: 200px;
}

.middle-rectangle {
    position: relative;
    border: 2px solid #dad6cf;
    width: 50%;
    height: 300px;
    top: -100px;
    left: 25%;
    z-index: 2;
    background-color: white;
}

.bottom-background {
    position: relative;
    top:-305px;
    background-color: #f7f6f2;
    width: 100%;
    height: 300px;
}