.gems-table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}
.gems-table-cell {
    border: 1px solid black;
}

.third-column-gems {
    text-align: center;
    border: 1px solid black;
}